# Ignore all .ldjson files
*.ldjson
.~*
*_T*
*error*
*_var*
.directory
player_T*

# Ignore upload and download directories (anywhere in the repo)
/uploads
/downloads

# ! = un-ignore
!S15/*/*_decision_*
!S16/*/*_decision_*
*_replaced_*

