# ignore all .ldjson files
*.ldjson

# ignore working files, ie. created by server from session startup
.~*
*_T*
*error*
*_var*
.directory
player_T*
*(bak*

# ignore upload and download directories (anywhere in the repo)
/uploads
/downloads

# ! = un-ignore standard test data
!S15/*/*_decision_*
!S16/*/*_decision_*
*_replaced_*

# main file, less public sessions on deployment server
_sessions.json
